page-request {

  //header styles
  ion-header {
    height: 10% !important;
  }

  .toolbar-title.toolbar-title-md {
    padding-left: 5px;
    color: black;
    font-size: 20px;
  }

  .toolbar-background {
    background-color: white;
  }

  h2 {
    font: Bolder 20px Segoe UI;
    margin-top: 15px;
    margin-left: -12px !important;
    color: black;
  }



  //ion content styles
  ion-content {
    margin-top: -35px;
  }



  //styles inside grid
  ion-grid {
    margin-top: 50px;
    margin-left: 15px !important;
    margin-bottom: -50px;

  }

  .font-style1 {
    font-weight: bold;
    font-size: 120%;
  }

  .space0 {
    margin-top: -6px;
  }

  .font-lighter1 {
    margin-top: -8px;
    font-weight: lighter;
  }

  .Noon-align {
    font-weight: lighter;
    margin-top: -10%;
    margin-left: -20%;

  }

  .date {
    font-weight: lighter;
    margin-left: -5%;
    margin-top: -10%;
  }

  .done-cancel-icon {
    width: 37px;
    margin: 5px 0px 0px 5px;
  }


  .notfound {
    font-weight: bolder;
    text-align: center;
    // margin: 50% !important;
    // width: 50% !important;
  }

}
