page-request {


 // header part styles
.toolbar-background {
    background-color: transparent;
}

ion-icon{
    margin: 38px 0px 0px 5px;
    font-size: 18px;
}

h2{
    font: Bold 25px Segoe UI;
    margin-top :50px ; 
    margin-left: 1px;
}


// ion-header height

ion-header{
    height: 10%;
}



//ion content styles
ion-content{
    margin-top: 55px;
}


//styles inside grid
ion-grid{
    margin-top: 50px ;
    margin-left: 15px !important;
    margin-bottom: -50px;

}

.font-style1{
    margin-bottom : -5px ; 
    font-weight: bolder; 
    font-size: 120%;
    margin-top : -5px;
}
.font-style2{
    margin-bottom : -5px ; 
    font-weight: bolder; 
    font-size: 120%;
    margin-top : -5px;
}
.font-lighter1{
    margin-top : -2px; 
    font-weight: lighter;
}
.font-lighter2{
    margin-top : -21px !important; 
    font-weight: lighter;
}
.done-icon{
    width: 75%;
    margin: 0px 0px 30px 35px;
}
.cancel-icon{
    width: 75%;
    margin: 0px 0px 30px 35px;
}


}
