page-status {

  .one {
    height: 550px;
  }


  .toolbar-title.toolbar-title-md {
    // padding-left: 33px;
    // color: black;
    // font-size: 23px;
    // padding-left: 15px;
    margin-top: 18px !important;
    color: black;
    font-size: 20px;
  }

  .menu{
    margin-left: 20px;
  }

  .logout {
    margin-right: 30px !important;
    margin-top: 25px !important;
  }

  .toolbar-background {
    background-color: white;

  }

  .gap {
    margin-top: 8%;
  }

  .gap1 {
    margin-left: 16%;
  }

  .com1 {
    position: relative;
    left: 10px;
    width: 90px;
    height: 90px;
    background-size: cover;
    display: block;
    border-radius: 10%;
  }

  .com2 {
    width: 13ch;
    height: 5.5ch;
    font-size: 12px;
    color: white;


  }

  .com3 {
    width: 15ch;
    height: 6ch;
    color: white;
    margin-left: 34%;
  }

  //style for image
  .img1 {
    background-image: url(../../assets/imgs/oneaud.png);

  }

  .b {
    text-transform: none;
  }

  .b1 {
    background-color: #F6FF00;


  }

  .b2 {
    background-color: #35AE59;


  }

  .b3 {
    background-color: #FF0000;


  }

  .b5 {
    width: 16ch;
    height: 6ch;
    margin-left: 110%;
    font-size: 15%;

  }

  .adjust1 {
    margin-top: 1%;
  }

  .adjust2 {
    margin-left: 27%;
  }


//   For logout button
  .logout {
    margin-right: 5%;
    margin-top: 2.5%;
  }

}
