<!-- header -->
<ion-header no-border>
  <ion-navbar  hideBackButton>
    <ion-title class="toolbar-title.toolbar-title-md" ><b>Status</b></ion-title>
    <ion-buttons left class = "menu">
      <button ion-button icon-only menuToggle color="dark">
        <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>

    <ion-buttons right class="logout" >
      <button ion-button icon-only (click) = "logout()"  >
        <ion-icon name = "md-log-out" color="danger"></ion-icon> 
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- content -->
<ion-content padding>
  <div class="change">
 </div>
  <div class="one">
    <ion-grid>
      <ion-row class="gap" *ngFor="let data of statusinfo">
        
        <ion-col col-2>
          <ion-avatar class="img1 com1" style=" border: 1px solid black;">
            <!--image-->
          </ion-avatar>
        </ion-col>

        <ion-col col-10>
          <ion-row class="adjust2"><b>{{data.audName}}-{{data.dept}}</b> 
            </ion-row>
          <ion-row class="adjust1 adjust2">
            <ion-col col-7>{{data.date}}</ion-col>
            <ion-col class="gap1" col-3>
              <ion-icon *ngIf="data.status != 1" (click)="alert(data)" class="adjust2" name="custom-delete"
                color="danger"></ion-icon>  
              </ion-col>
            </ion-row>
            <ion-row *ngIf="data.status == 2"><button class="b b3 com2 adjust1 adjust2 " ion-button round>Rejected</button></ion-row>
          <ion-row *ngIf="data.status == 0"><button class="b b1 com2 adjust1 adjust2" ion-button round>Waiting</button></ion-row>
          <ion-row *ngIf="data.status == 1"><button class="b b2 com2 adjust1 adjust2" ion-button round>Accepted</button></ion-row>
          <ion-row *ngIf="data.status == 3"><button class="b b3 com2 adjust1 adjust2 " ion-button round>Rejected</button></ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- footer -->

<ion-footer no-border>
  <button (click)="next1()" class="b b2 com3 " ion-button round>+ BookNew</button>
</ion-footer>
