page-dashboard {

    ion-grid{
        margin-top: 40px !important;
        margin-left: 8px !important;

    }
    ion-card{
        padding-top: 0px;
        padding-bottom: 35px;
        padding-right: -20px !important;
        padding-left: -25px !important;
        width : 80px !important;
        border-radius: 10px;
    }
     .img{
    
       
       
       
        }

}
