page-dashboard {


  .toolbar-title.toolbar-title-md {
    padding-left: 15px;
    margin-top: 18px !important;
    color: black;
    font-size: 20px;
  }

  .toolbar-background {
    background-color: white;
  }

  h2 {
    font: Bold 25px Segoe UI;
    margin-top: 15px;
    margin-left: 1px;
    color: black;
  }

  .logout {
    margin-right: 5%;
    margin-top: 2.5%;
  }

  //styles inside grid
  ion-grid {
    margin: 15px 0px -50px 10px;
  }

  ion-card {
    width: 90px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

  .margin-left {
    margin-left: 50px;
    margin-top: 5px;
  }

  .font-style {
    margin-top: 19px;
    margin-bottom: -20px !important;
    font-weight: bolder;
    font-size: 120%;
  }

  .font-lighter {
    margin-top: 20px;
    font-weight: lighter;
    font-size: small;
  }

  .notification-circle {
    height: 20px;
    width: 20px;
    background-color: #35AE59;
    border-radius: 50%;
    display: inline-block;
    margin-left: -30px;
    margin-top: 16px;
  }

  .notify-nums {
    margin-top: 2px;
    margin-left: 6.3px;
    font-size: small;
    color: #FFFFFF !important;
  }

  .pen-icon {
    width: 27px !important;
    margin: 33px 0px 0px -2px;
  }

  .margin-left {
    margin-left: 50px;
    margin-top: 5px;
  }

  .font-style {
    margin-top: 19px;
    margin-bottom: -20px !important;
    font-weight: bolder;
    font-size: 120%;
  }

  .font-lighter {
    margin-top: 16px;
    font-weight: lighter;
    font-size: small;
  }

  .notification-circle {
    height: 20px;
    width: 20px;
    background-color: #35AE59;
    border-radius: 50%;
    display: inline-block;
    margin-left: -9arcane
    0px;
    margin-top: 16px;
  }

  .notify-nums {
    margin-top: 2px;
    margin-left: 6.3px;
    font-size: small;
    color: #FFFFFF !important;
  }

  .pen-icon {
    width: 27px !important;
    margin: 33px 0px 0px -2px;

  }

  // style for creat button
  .create-button {
    background-color: #35AE59;
    text-transform: none;
    font-weight: normal;
    height: 40px;
    width: 40%;
  }

  .add-icon {
    margin-top: 2px;
    margin-right: 8px;
  }



  // adjust footer height
  ion-footer {
    height: 10%;
  }

  // Display Image of Auditorium
  #audDisplayImage {
    width: 90px !important;
    height: 90px !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    object-fit: cover;

}

  // // Responsive design
  // @media (min-width: 550px) {

  //   ion-header ion-navbar {
  //     width: 550px !important;
  //     margin: 0 auto;
  //   }

  //   ion-content ion-grid {
  //     width: 550px !important;

  //   }

  //   ion-footer {
  //     width: 100%;
  //   }

  //   ion-footer div {
  //     width: 550px;
  //     margin: 0 auto;
  //   }

  //   .logout {
  //     margin-right: 0px;

  //   }

  // }
}
