page-warning {
    .toolbar-background {
        background-color: white;
       
    }
    .toolbar-title.toolbar-title-md{  padding-top: 10%; text-align: center; color:black; font-size: 23px;
    }
   
    ion-icon{
        color:  #F6FF00;
        font-size: 270%;
        margin-top: -55%;
        margin-left: -85%;
    }
  
      
   .c1{
       margin-top: -10%;
       font-size: 105%;
       margin-left: -13%;
   }
   .l1{
       margin-top: -1%;
       
   }
   .l{
       color: #35AE59;
       width:110%;
   }
   .l2{
       color:#FF0000;
       width:100%;
   }
   .foot{
       color:#707070; 
   }
}
