page-warning {
    .toolbar-background {
        background-color: white;
       
    }
    .toolbar-title.toolbar-title-md{  padding-top: 10%; text-align: center; color:black; font-size: 23px;
    }
   
    ion-icon{
        color:  #F6FF00;
        font-size: 270%;
        margin-top: -55%;
        margin-left: -65%;
    }

   .c1{
       margin-top: -10%;
       font-size: 105%;
       margin-left: -13%;
   }

   .c2{
    border-top :1px solid #707070;
    
   }

   .c3{
    border-right:1px solid #707070;
   }
  
   .l1{
    text-align: center;
    }

   .l{
       color: #35AE59;
    
   }

   .l2{
       color:#FF0000;
   }
}
