page-book-new {

  .toolbar-title.toolbar-title-md {
    margin-top: 40px !important;
    color: black;
    font-size: 20px;
  }

  // ion-row with margin-bottom
  ion-row.margin-bottom {
    margin-bottom: 25px;
  }

  // topic background
  .toolbar-background {
    background-color: white;
  }

  // Badge displaying seating capacity 
  .badge {

    border-radius: 10px;
    font-size: 11px;
  }

  //total area for a single content
  .div1 {
    width: 100%;
    height: 110px;
    margin: 0;
    text-align: center;
    margin-bottom: 30px;

  }

  // Contents inside the division

  .imgPicDisplay {
    position: relative;
    left: 5px;
    width: 90px;
    height: 90px;
    background-size: cover;
    display: block;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  // Picture for auditorium
  // .img1 {
  //   background-image: url(../assets/imgs/oneaud.png);

  // }

  //aligning content for auditorium 
  .leftDistance {
    margin-left: 11px;
  }

  .distFromTop {
    margin-top: 22px;
  }

  .textDistance {
    margin-top: 10px;
  }

  .imgDistance {
    margin-top: 10px;
  }

  // Blur background
  .blur {
    filter: blur(1.2px);
    -webkit-filter: blur(1.2px);
  }

  // Image inside ion-avatar (aud image)
  ion-avatar img {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }

}
