page-detail {
  
  // title details

  .toolbar-title.toolbar-title-md {
    padding-left: 5px;
    color: black;
    font-size: 20px;
  }

  .toolbar-background {
    background-color: white;
  }

  ::-webkit-input-placeholder {
    color: black !important;
  }

  // icons details for detail page
  
  .icon-display{
    color: #35AE59;
    font-size: 120%;
  }

  // common details

  .common {
    color: black;
  }

  //division display

  .one {
    height: 600px;
  }

  //Auditorium pic details

  .avail-display {
    position: relative;
    background-color: var(--rocolor);
    margin-top: 73px;
    left: -95px;
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
  }
  .imgPicDisplay {
    position: relative;
    left: 10px;
    width: 95px;
    height: 95px;
    background-size: cover;
    display: block;
    border-radius: 7%;
  }

  .image {
    background-image: url(../assets/imgs/oneaud.png);
    margin-top: 30px;
  }

  .leftDistance {
    margin-left: 20px;
  }

  .name-distance {
    margin-top: 49px;
  }

  .dept-distance {
    margin-top: 10px;
  }

  //Booking details
  // fore-afer-noon details

  .fore-after-noon{
    color: black;
    text-align: center !important;
  }

  //   Common CSS class for AN and FN button
  .but,
  .but-checked-an,
  .but-checked-fn,
  .but-unchecked {

    border-radius: 5px;
    margin-top: 9px;

  }

  .but {
    border: 1px solid #000;
  }

  // department details
  .dept-display {
    margin-left: 2.5%;
  }


// Button checked status indicator
  .but-checked-an {
    border: var(--button-clicked-an);
  }

  .but-checked-fn {
    border: var(--button-clicked-fn);
  }

  .but-unchecked {
    border: 1px solid grey;
  }

  ion-item.but-unchecked ion-label {
    color: grey;
  }

  // common css for all labels

  .button-display {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 25%;
    margin-bottom: 1%;
  }

  //booking button details

  .book-display{
    margin-left: auto;
    margin-right: auto;
    height: 5.6ch;
  }

  .book-label {
    font-size: 13px;
    text-align: center;
    color: white;

  }
 
}
