<!--
  Generated template for the AdminHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- header -->
<ion-header no-border>
  <ion-navbar>
    <ion-title class="toolbar-title.toolbar-title-md" ><b>History</b></ion-title>
    </ion-navbar>
</ion-header>

<!-- content -->
<ion-content padding>
  
  <!-- Date picker -->
      <ion-item>
          <ion-label>Date</ion-label>
          <ion-datetime displayFormat= "D/M/YYYY" [(ngModel)]="date" (ionChange)="dateChanged()"></ion-datetime>
        </ion-item>


 <!-- History Details -->
  <div class="total-alignment">
    <ion-grid>
      <ion-row class="detail-spacing" *ngFor="let data of historyInfo">
        
        <ion-col col-2>
          <ion-avatar class="img1 image-size" style=" border: 1px solid black;">
            <!--image-->
          </ion-avatar>
        </ion-col>

        <ion-col col-10>
          <ion-row class="space-orientation"><b>{{data.audName}}-{{data.dept}}</b> 
            </ion-row>
          <ion-row class="top-orientation space-orientation">
            <ion-col col-7>{{data.date}}</ion-col>
            <ion-col class="undo-spacing" col-3>
              <ion-icon *ngIf="data.status != 0" (click)="showConfirm(data)" class="space-orientation" name="undo"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="data.status == 3"><button class="transformation rejected-BG button-size top-orientation space-orientation " ion-button round>Rejected</button></ion-row>
            <ion-row *ngIf="data.status == 2"><button class="transformation rejected-BG button-size top-orientation space-orientation " ion-button round>Rejected</button></ion-row>
            <ion-row *ngIf="data.status == 0"><button class="transformatsion waiting-BG button-size top-orientation space-orientation" ion-button round>Waiting</button></ion-row>
            <ion-row *ngIf="data.status == 1"><button class="transformation accepted-BG button-size top-orientation space-orientation" ion-button round>Accepted</button></ion-row>

        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>


