page-admin-history {
    
     //Overall spacings between the histories
     .total-alignment{
        height: 550px;
      }
    
      //toolbar 
      .toolbar-title.toolbar-title-md {
        padding-left: 33px;
        color: black;
        font-size: 23px;
      }
    
      //toolbar background
      .toolbar-background {
        background-color: white;
      }

      //details  placement
      .detail-spacing {
        margin-top: 8%;
      }

      //undo placement   
      .undo-spacing{
        margin-left: 16%;
      }

      //image
      .image-size{
        position: relative;
        left: 10px;
        width: 90px;
        height: 90px;
        background-size: cover;
        display: block;
        border-radius: 10%;
      }

      //button
      .button-size{
        width: 13ch;
        height: 5.5ch;
        font-size: 12px;
        color: white
      }
    
      //style for image
      .img1 {
        background-image: url(../../assets/imgs/oneaud.png);
      }

      //text   
      .transformation{
        text-transform: none;
      }
    
      //waiting-button
      .waiting-BG {
        background-color: #F6FF00;
      }
    
      //accepted button
      .accepted-BG {
        background-color: #35AE59;
      }
    
      //rejected button  
      .rejected-BG {
        background-color: #FF0000;
      }

      //top spacing
      .top-orientation {
        margin-top: 1%;
      }

      //direction spacing
      .space-orientation{
        margin-left: 27%;
      }
      
      //undo icon
      ion-icon{
        font-size: 25px;
      }

      .leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }

}
